:root {
  font-size: 10px;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

/* header */

header {
  width: 1000px;
  margin: 0 auto;
}

header>nav>ul {
  display: flex;
  justify-content: space-around;
}

.main-nav li {
  background-color: dodgerblue;
}

.main-nav li:hover, .main-nav li.active {
  background-color: deepskyblue;
}

.main-nav li:hover a, .main-nav li.active a {
  color: #000000;
}

.main-nav li a {
  padding: 15px 50px;
  color: #ffffff;
  /* display: block; */
  /* or alternative below */
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
}

/* info-bar */

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 990px;
  margin: 20px 10px 10px 5px;
}

.info-bar dl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  width: 100px;
  margin-right: 6px;
}

.info-bar dl dt, .info-bar dl dd {
  height: auto;
}

.info-bar dl a {
  text-decoration: none;
  color: #000000;
}

/* main */
/* article */

main {
  width: 991px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
}

h3 {
  margin-top: 5px;
  font-size: 15px;
  line-height: 20px;
}

.main-hr {
  border-top: 1px dashed white;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 340px;
}

p {
  font-size: 12px;
  text-align: left;
  line-height: 15px;
}

.slider .description {
  position: absolute;
  padding-left: 12px;
  top: 20px;
  left: 20px;
  width: 350px;
  height: 100px;
  background-color: dodgerblue;
  color: white;
}

.slider .call-to-action {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 700px;
  height: 80px;
  background-color: dodgerblue;
  border: none;
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.call-to-action a {
  text-decoration: none;
  color: white;
}

/* section */

.blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 300px;
  margin-top: 40px;
  width: 1040px;
  height: fit-content;
}

h2 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.box {
  margin-top: 6px;
  padding:3px;
  border:1px solid #021a40;
  background-color:#ffffff;
}

.blog-posts article {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 236, 236);
  width: 300px;
  justify-content: center;
  padding-block-end: 10px;
}

.blog-hr {
  border-top: 1px dashed rgb(44, 42, 42);
  width: 250px;
}

.blog-posts p {
  margin: 10px 23px 10px 25px;
}

.blog-posts a {
  margin-left: 210px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(27, 108, 189);
}

/* div */

.other-hr {
  width: 995px;
  margin-top: 20px;
  margin: 5px 0;
  height: 1.2px;
  background:
    repeating-linear-gradient(to right,gray 0,gray 10px,transparent 10px,transparent 12px);
}

div.other-hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* aside */

/* section */

aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
}

.partners {
  display: flex;
  width: 655px;
}

.partners img {
  padding: 3px;
  border:1px solid #021a40;
  background-color:#ffffff;
  height: 160px;
}

.partners p {
  padding-left: 40px;
  font-size: 12px;
  line-height: 15px;
}

.partners h2 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(54, 52, 52);
  letter-spacing: 1px;
  margin: 0px 0px 0px 40px;
}

.dotted-hr {
  border-top: 1px dotted rgb(66, 65, 65);
  width: 400px;
  margin-left: 40px;
}

.partners a {
  text-decoration: none;
  margin-left: 340px;
  font-size: 12px;
  color: rgb(27, 108, 189);
}

/* article */

.right {
  background-color:  rgb(240, 236, 236);
  padding-left: 15px;
  height: 180px;
}
.right h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 15px;
  color: gray;
}

.right div {
  line-height: 5px;
  margin-top: 20px;
}

.right hr {
  width: 265px;
}

.other-hr-second {
  width: 265px;
  margin: 5px 0;
  height: 1.2px;
  background:
    repeating-linear-gradient(to right,gray 0,gray 10px,transparent 10px,transparent 12px);
}

.right hr {
  margin-top: 7px;
}

.right a {
  text-decoration: none;
  font-size: 11px;
  color: rgb(27, 108, 189);
}

/* section */

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.boxes img {
  padding: 3px;
  border:1px solid #021a40;
  background-color:#ffffff;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: dodgerblue;
  width: 991px;
  margin: 0 auto;
  color: #ffffff;
}

footer span {
  margin-left: 580px;
}

footer p {
  margin-left: 10px;
}